<main class="box-border">
  <div class="flex w-full h-screen">
    <.flash_group flash={@flash} />
    <.side_nav :if={@current_user} current_user={@current_user} tab={@tab} />
    <div class="flex">
      <%= @inner_content %>
    </div>
  </div>
</main>
